<a href="https://colab.research.google.com/github/NileshCT/Machine_Learning_Models/blob/main/Decision_Tree_classification_modelling_weatheraus_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Libraries**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [1]:
#Importing required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
#Importing dataset
df=pd.read_csv("/content/drive/MyDrive/weatherAUS.csv.zip")

In [3]:
#Dropping Date column from table.
df.drop(["Date"],axis=1,inplace=True)

In [4]:
#Exploring numeric feature from dataframe
numeric_feature=df.describe(include=float).columns
numeric_feature

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm'],
      dtype='object')

In [5]:
#Exploring all categorical_feature from dataframe.
categorical_feature=df.describe(include=object).columns
categorical_feature

Index(['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday',
       'RainTomorrow'],
      dtype='object')

In [6]:
#Creating new dataframe by cloning df dataframe.
df1=df.copy()

In [7]:
#Exploring all null values from target feature.
a=[(i,index) for i,index in enumerate(df["RainTomorrow"]) if pd.isna(index)]
result = pd.DataFrame(a).set_index(0)

**Extracting inferencial data**

In [8]:
#Converting list of nan value target variable into dataframe.
t=pd.DataFrame(a).set_index(0)
t.head()

      1
0
14  NaN
283 NaN
435 NaN
437 NaN
443 NaN

In [9]:
t.shape

(3267, 1)

In [10]:
index_nan=t.index.tolist()
index_nan

[14,
 283,
 435,
 437,
 443,
 452,
 455,
 464,
 611,
 983,
 984,
 985,
 986,
 1013,
 1374,
 1529,
 1530,
 1531,
 1685,
 1922,
 2031,
 2032,
 2033,
 2042,
 2913,
 2934,
 2942,
 2943,
 2944,
 3201,
 3211,
 3316,
 3338,
 3339,
 3384,
 3411,
 3412,
 3428,
 3433,
 3438,
 3446,
 3447,
 3452,
 3457,
 3462,
 3471,
 3472,
 3482,
 3517,
 3524,
 3525,
 3526,
 3529,
 3530,
 3532,
 3539,
 3542,
 3549,
 3552,
 3576,
 3584,
 3595,
 3629,
 3634,
 3639,
 3692,
 3760,
 3955,
 4044,
 4050,
 4131,
 4344,
 4345,
 4629,
 4644,
 4656,
 4845,
 4900,
 4911,
 4912,
 4935,
 4938,
 4939,
 5056,
 5079,
 5149,
 5393,
 5458,
 5459,
 5460,
 5461,
 5462,
 5841,
 5842,
 5843,
 5844,
 5845,
 5846,
 5847,
 5848,
 5849,
 5850,
 5851,
 5852,
 5853,
 5854,
 5855,
 5856,
 5857,
 5876,
 6294,
 6968,
 6969,
 6970,
 7446,
 7447,
 8529,
 8530,
 8588,
 8838,
 8839,
 8840,
 8841,
 8842,
 8843,
 8847,
 8848,
 8849,
 8904,
 8905,
 8906,
 9147,
 10238,
 10448,
 10534,
 10816,
 10820,
 10821,
 10822,
 10920,
 10921,
 10922,
 10923,
 10924,
 10925,
 10926,
 11053,
 11133,
 11134,
 11135,
 11136,
 11137,
 11148,
 11149,
 11150,
 11151,
 11159,
 11160,
 11161,
 11162,
 11163,
 11164,
 11165,
 11166,
 11167,
 11168,
 11169,
 11170,
 11171,
 11172,
 11173,
 11174,
 11175,
 11176,
 11177,
 11178,
 11179,
 11180,
 11181,
 11182,
 11183,
 11184,
 11185,
 11186,
 11187,
 11470,
 11491,
 13017,
 13121,
 13147,
 13181,
 13182,
 13183,
 13274,
 13275,
 13365,
 13458,
 13459,
 13460,
 13753,
 13754,
 13755,
 13763,
 13764,
 13765,
 13854,
 13855,
 13862,
 13863,
 13875,
 13876,
 13877,
 13889,
 13896,
 13897,
 13917,
 13918,
 13919,
 13945,
 13946,
 13966,
 13967,
 13973,
 13974,
 13975,
 13980,
 13981,
 14008,
 14009,
 14029,
 14030,
 14031,
 14036,
 14037,
 14039,
 14040,
 14041,
 14078,
 14079,
 14085,
 14086,
 14087,
 14099,
 14100,
 14101,
 14107,
 14127,
 14128,
 14129,
 14134,
 14135,
 14141,
 14142,
 14143,
 14162,
 14163,
 14169,
 14170,
 14171,
 14190,
 14191,
 14211,
 14212,
 14213,
 14218,
 14219,
 14227,
 14239,
 14240,
 14241,
 14246,
 14247,
 14251,
 14252,
 14253,
 14254,
 14255,
 14256,
 14258,
 14259,
 14260,
 14261,
 14262,
 14274,
 14275,
 14276,
 14288,
 14289,
 14290,
 14302,
 14303,
 14304,
 14306,
 14307,
 14308,
 14309,
 14310,
 14311,
 14316,
 14317,
 14324,
 14337,
 14338,
 14345,
 14346,
 14351,
 14352,
 14358,
 14359,
 14360,
 14365,
 14366,
 14372,
 14373,
 14374,
 14400,
 14401,
 14402,
 14472,
 14485,
 14519,
 14520,
 14526,
 14527,
 14528,
 14533,
 14534,
 14547,
 14548,
 14554,
 14555,
 14556,
 14559,
 14561,
 14562,
 14608,
 14609,
 14610,
 14611,
 14612,
 14613,
 14614,
 15766,
 15767,
 15768,
 15769,
 15770,
 15771,
 15908,
 15909,
 15910,
 15911,
 15912,
 16053,
 16054,
 16055,
 16056,
 16057,
 16232,
 16234,
 16239,
 16243,
 16249,
 16250,
 16251,
 16252,
 16253,
 16254,
 16257,
 16361,
 16362,
 16363,
 16364,
 16365,
 16501,
 16583,
 16584,
 16585,
 16586,
 16587,
 16613,
 16614,
 16615,
 16616,
 16617,
 16618,
 16619,
 16931,
 16932,
 16933,
 16934,
 16935,
 16936,
 16937,
 17188,
 17283,
 17284,
 17285,
 17286,
 17318,
 17319,
 17473,
 17507,
 17508,
 17519,
 17625,
 17626,
 17627,
 17628,
 17629,
 17630,
 17631,
 17632,
 17856,
 17913,
 17925,
 17932,
 18029,
 18030,
 18031,
 18032,
 18033,
 18034,
 18035,
 18036,
 18037,
 18275,
 18378,
 18392,
 18393,
 18394,
 18395,
 18410,
 18411,
 18412,
 18413,
 18414,
 18424,
 18425,
 18430,
 18438,
 18459,
 18471,
 18491,
 18496,
 18507,
 18523,
 18528,
 18545,
 18547,
 18608,
 18638,
 18649,
 18664,
 18694,
 18695,
 18698,
 18699,
 18709,
 18710,
 18736,
 18822,
 18823,
 18943,
 18973,
 19030,
 19281,
 19450,
 19676,
 19718,
 19721,
 19722,
 19723,
 19724,
 19846,
 19847,
 19848,
 19849,
 19850,
 19851,
 19852,
 20000,
 20101,
 20329,
 20447,
 20448,
 20449,
 20454,
 20455,
 20456,
 20457,
 20458,
 20459,
 20460,
 20461,
 20462,
 20463,
 20464,
 20469,
 20470,
 20583,
 21936,
 23665,
 23894,
 23895,
 23901,
 23902,
 23915,
 23916,
 23919,
 23929,
 23930,
 23936,
 23937,
 23943,
 23944,
 23945,
 23946,
 23947,
 23948,
 23949,
 23950,
 23951,
 23952,
 23957,
 23958,
 23971,
 23972,
 23978,
 23979,
 23985,
 23986,
 23999,
 24000,
 24006,
 24007,
 24013,
 24014,
 24015,
 24020,
 24021,
 24027,
 24028,
 24034,
 24035,
 24088,
 24137,
 24165,
 24393,
 24485,
 24491,
 24502,
 24518,
 24520,
 24523,
 24533,
 24546,
 24547,
 24550,
 24572,
 24577,
 24580,
 24593,
 24611,
 24620,
 24635,
 24636,
 24667,
 24669,
 24732,
 24733,
 24769,
 24782,
 24787,
 24790,
 24798,
 24799,
 24800,
 24804,
 24805,
 24808,
 24809,
 24872,
 24873,
 24874,
 24875,
 24880,
 24881,
 24882,
 24883,
 24884,
 24889,
 24890,
 24891,
 24892,
 24893,
 24894,
 24975,
 25114,
 25127,
 25297,
 25462,
 25748,
 26013,
 26153,
 26199,
 26372,
 26668,
 26669,
 26670,
 26772,
 26810,
 26815,
 26824,
 26939,
 26972,
 27030,
 27050,
 27051,
 27064,
 27141,
 27511,
 27529,
 27555,
 27577,
 27581,
 27583,
 27587,
 27602,
 27621,
 27622,
 27626,
 27649,
 27668,
 27669,
 27705,
 27719,
 27739,
 27746,
 27755,
 27757,
 27767,
 27773,
 27774,
 27776,
 27784,
 27881,
 27884,
 28290,
 28301,
 28304,
 28306,
 28307,
 28309,
 28311,
 28313,
 28314,
 28315,
 28316,
 28320,
 28324,
 28775,
 28777,
 28810,
 28811,
 28857,
 28858,
 28859,
 28860,
 28861,
 28863,
 28921,
 28977,
 28978,
 29058,
 29109,
 29677,
 29702,
 30066,
 31044,
 31157,
 31191,
 32506,
 32551,
 32578,
 32579,
 35936,
 36425,
 36429,
 36433,
 39122,
 39311,
 39312,
 39318,
 39319,
 39346,
 39347,
 39358,
 39359,
 39360,
 39361,
 39374,
 39375,
 39379,
 39381,
 39382,
 39394,
 39395,
 39402,
 39403,
 39409,
 39410,
 39424,
 39430,
 39431,
 39458,
 39473,
 39479,
 39480,
 39500,
 39501,
 39507,
 39508,
 39690,
 39972,
 40049,
 40084,
 40085,
 40086,
 40091,
 40092,
 40106,
 40114,
 40127,
 40128,
 40178,
 40187,
 40267,
 40268,
 40308,
 40309,
 40362,
 40363,
 40364,
 40376,
 40377,
 40378,
 40380,
 40381,
 40383,
 40384,
 40390,
 40391,
 40392,
 40397,
 40398,
 40404,
 40405,
 40406,
 40411,
 40412,
 40418,
 40419,
 40420,
 40432,
 40433,
 40434,
 40436,
 40439,
 40440,
 40453,
 40454,
 40457,
 40458,
 40459,
 40460,
 40461,
 40462,
 40465,
 40467,
 40468,
 40480,
 40481,
 40482,
 40488,
 40489,
 40490,
 40502,
 40503,
 40504,
 40510,
 40516,
 40517,
 40518,
 40544,
 40545,
 40546,
 40558,
 40559,
 40560,
 40565,
 40566,
 40572,
 40573,
 40574,
 40575,
 40593,
 40594,
 40600,
 40602,
 40607,
 40608,
 40614,
 40615,
 40616,
 40621,
 40622,
 40628,
 40629,
 40630,
 40635,
 40636,
 40642,
 40643,
 40644,
 40652,
 40656,
 40657,
 40658,
 40659,
 40663,
 40664,
 40668,
 40669,
 40670,
 40671,
 40672,
 40678,
 40698,
 40699,
 40700,
 40705,
 40706,
 40712,
 40713,
 40714,
 40719,
 40720,
 40723,
 40726,
 40727,
 40728,
 40740,
 40741,
 40742,
 40747,
 40748,
 40750,
 40751,
 40752,
 40754,
 40755,
 40756,
 40761,
 40762,
 40768,
 40769,
 40770,
 40789,
 40790,
 40796,
 40797,
 40798,
 40803,
 40804,
 40880,
 40881,
 40882,
 40887,
 40888,
 40894,
 40895,
 40896,
 40947,
 40948,
 40949,
 40954,
 40955,
 40957,
 40961,
 40962,
 40963,
 40968,
 40969,
 40983,
 40989,
 40990,
 40991,
 40996,
 40997,
 41003,
 41004,
 41005,
 41010,
 41011,
 41017,
 41018,
 41019,
 41031,
 41032,
 41033,
 41034,
 41038,
 41039,
 41052,
 41053,
 41060,
 41061,
 41066,
 41067,
 41073,
 41074,
 41075,
 41080,
 41081,
 41087,
 41088,
 41095,
 41096,
 41101,
 41102,
 41103,
 41108,
 41109,
 41115,
 41116,
 41117,
 41122,
 41123,
 41129,
 41130,
 41131,
 41164,
 41165,
 41167,
 41168,
 41169,
 41170,
 41171,
 41172,
 41173,
 41185,
 41186,
 41187,
 41220,
 41221,
 41223,
 41227,
 41228,
 41229,
 41234,
 41235,
 41241,
 41248,
 41249,
 41298,
 41309,
 41310,
 41311,
 41312,
 41313,
 41314,
 41315,
 41316,
 41317,
 41318,
 41319,
 41320,
 41321,
 41333,
 41338,
 41339,
 41340,
 41341,
 41353,
 41354,
 41355,
 41360,
 41361,
 41367,
 41368,
 41369,
 41374,
 41375,
 41388,
 41389,
 41395,
 41396,
 41397,
 41402,
 ...]

In [11]:
#Exploring the inference dataset.
df1_inference=df1.iloc[index_nan]
df1_inference

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
14,Albury,8.4,24.6,0.0,NaN,NaN,NaN,NaN,S,WNW,...,57.0,32.0,1009.7,1008.7,NaN,NaN,15.9,23.5,No,NaN
283,Albury,2.6,NaN,0.0,NaN,NaN,NaN,NaN,E,WNW,...,71.0,55.0,1017.8,1017.6,NaN,6.0,9.7,14.3,No,NaN
435,Albury,22.1,35.1,0.0,NaN,NaN,NaN,NaN,ENE,SW,...,58.0,37.0,1020.9,1017.8,NaN,1.0,26.9,33.5,No,NaN
437,Albury,21.5,35.0,0.0,NaN,NaN,NaN,NaN,SSE,E,...,76.0,35.0,1015.8,1010.3,NaN,8.0,24.2,33.1,No,NaN
443,Albury,15.5,30.6,0.0,NaN,NaN,NaN,NaN,SE,SSW,...,66.0,30.0,1015.9,1013.8,NaN,NaN,19.4,30.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144955,Uluru,22.5,37.7,0.0,NaN,NaN,SE,50.0,SE,ESE,...,22.0,11.0,1012.6,1009.6,NaN,NaN,28.8,37.2,No,NaN
145091,Uluru,12.3,19.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,79.0,62.0,1016.8,1014.1,8.0,8.0,15.6,18.9,No,NaN
145092,Uluru,14.2,18.7,NaN,NaN,NaN,NaN,NaN,W,NaN,...,81.0,67.0,1015.2,1014.6,8.0,8.0,16.6,17.5,NaN,NaN
145335,Uluru,13.5,NaN,0.0,NaN,NaN,NaN,NaN,ENE,SW,...,23.0,11.0,1013.7,1008.4,NaN,NaN,25.2,34.4,No,NaN
145459,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [12]:
#Creating list of all non null values in the target variable for spliting in train and test data.
a=[]
for i in range(df1.shape[0]):
  if i not in index_nan:
    a.append(i)

**Separating training data**

In [13]:
df_train_data=df.iloc[a]
df_train_data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,E,...,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,No
145455,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No

**Missing values tratment for known data**

In [14]:
df_train_data=df_train_data.fillna(method="ffill",axis=0).fillna(method="bfill",axis=0)
df_train_data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,12.0,12.3,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,2.0,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,12.0,12.3,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,8.0,2.0,17.2,24.3,No,No
2,Albury,12.9,25.7,0.0,12.0,12.3,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,8.0,2.0,21.0,23.2,No,No
3,Albury,9.2,28.0,0.0,12.0,12.3,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,8.0,2.0,18.1,26.5,No,No
4,Albury,17.5,32.3,1.0,12.0,12.3,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,6.4,10.7,E,31.0,ESE,E,...,59.0,27.0,1024.7,1021.2,8.0,7.0,9.4,20.9,No,No
145455,Uluru,2.8,23.4,0.0,6.4,10.7,E,31.0,SE,ENE,...,51.0,24.0,1024.6,1020.3,8.0,7.0,10.1,22.4,No,No
145456,Uluru,3.6,25.3,0.0,6.4,10.7,NNW,22.0,SE,N,...,56.0,21.0,1023.5,1019.1,8.0,7.0,10.9,24.5,No,No
145457,Uluru,5.4,26.9,0.0,6.4,10.7,N,37.0,SE,WNW,...,53.0,24.0,1021.0,1016.8,8.0,7.0,12.5,26.1,No,No
145458,Uluru,7.8,27.0,0.0,6.4,10.7,SE,28.0,SSE,N,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No

**known data splitting for further scaling. i am not appling the scaling on the target feature**

In [15]:
x_training=df_train_data.drop(["RainTomorrow"],axis=1)
y_training=df_train_data["RainTomorrow"]

**lebal encoding on x_known data**

In [16]:
#Label encoding on known data
from sklearn import preprocessing
L_Encoder=preprocessing.LabelEncoder()
x_training["Location"]=L_Encoder.fit_transform(x_training["Location"])

In [17]:
x_training["Location"].unique()

array([ 2,  4, 10, 11, 21, 24, 26, 27, 30, 34, 37, 38, 42, 45, 47,  9, 40,
       23,  5,  6, 35, 19, 18, 20, 25, 33, 44, 12,  7,  8, 14, 39,  0, 22,
       28, 48,  1, 46, 29, 32, 31, 36, 43, 15, 17,  3, 13, 16, 41])

In [18]:
x_training["WindGustDir"]=L_Encoder.fit_transform(x_training["WindGustDir"])

In [19]:
x_training["WindDir9am"]=L_Encoder.fit_transform(x_training["WindDir9am"])

In [20]:
x_training["WindDir3pm"]=L_Encoder.fit_transform(x_training["WindDir3pm"])

In [21]:
x_training["RainToday"]=L_Encoder.fit_transform(x_training["RainToday"])

In [22]:
x_training.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2,13.4,22.9,0.6,12.0,12.3,13,44.0,13,14,...,24.0,71.0,22.0,1007.7,1007.1,8.0,2.0,16.9,21.8,0
1,2,7.4,25.1,0.0,12.0,12.3,14,44.0,6,15,...,22.0,44.0,25.0,1010.6,1007.8,8.0,2.0,17.2,24.3,0
2,2,12.9,25.7,0.0,12.0,12.3,15,46.0,13,15,...,26.0,38.0,30.0,1007.6,1008.7,8.0,2.0,21.0,23.2,0
3,2,9.2,28.0,0.0,12.0,12.3,4,24.0,9,0,...,9.0,45.0,16.0,1017.6,1012.8,8.0,2.0,18.1,26.5,0
4,2,17.5,32.3,1.0,12.0,12.3,13,41.0,1,7,...,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,0

**scaling on x_known data**

In [23]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
model=scalar.fit(x_training)
x_training1=model.transform(x_training)
print(x_training1)

[[-1.5270045   0.18909505 -0.04601462 ... -0.00980272  0.01482285
  -0.53717035]
 [-1.5270045  -0.7478145   0.26306006 ...  0.03627184  0.37399458
  -0.53717035]
 [-1.5270045   0.11101925  0.34735316 ...  0.61988303  0.21595902
  -0.53717035]
 ...
 [ 1.21224943 -1.34119055  0.29115776 ... -0.93129406  0.40272832
  -0.53717035]
 [ 1.21224943 -1.06011769  0.51593935 ... -0.68556304  0.63259822
  -0.53717035]
 [ 1.21224943 -0.68535387  0.52998819 ... -0.28625012  0.61823135
  -0.53717035]]

In [24]:
x_training2=pd.DataFrame(x_training1)

In [25]:
#splitting data into train test 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x_training2,y_training,random_state=0,test_size=0.20)

In [26]:
#use of DecisionTreeClassifier for classification task 
from sklearn.tree import DecisionTreeClassifier 
model = DecisionTreeClassifier() 
decision_tree=model.fit (X_train, y_train) 
predictions_train = model.predict(X_train)

In [27]:
#Measure the performance of the decision tree model
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
print(classification_report(y_train, predictions_train))
print(confusion_matrix(y_train, predictions_train))

              precision    recall  f1-score   support

          No       1.00      1.00      1.00     88249
         Yes       1.00      1.00      1.00     25505

    accuracy                           1.00    113754
   macro avg       1.00      1.00      1.00    113754
weighted avg       1.00      1.00      1.00    113754

[[88249     0]
 [    3 25502]]

In [28]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_train,predictions_train)
score

0.999973627301018

In [29]:
predictions_test = model.predict(X_test)

In [30]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,predictions_test)
score

0.7857167973557438

**predict_proba method ok known data**

In [31]:
# probability of getting output as 0 - no rain
model.predict_proba(X_train)[:,0]

array([1., 1., 1., ..., 1., 1., 0.])

In [32]:
# probability of getting output as 0 - rain
model.predict_proba(X_train)[:,1]

array([0., 0., 0., ..., 0., 0., 1.])

In [33]:
!pip install joblib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (1.1.1)

In [36]:
# import joblib: This line imports the joblib library which provides utilities for saving and loading Python objects.

# filename = 'WeatherAUS_model.sav': This line defines a variable called filename and assigns it the value 'WeatherAUS_model.sav'. This value represents the name of the file where the model will be saved.

# joblib.dump(model, filename): This line uses the dump function from the joblib library to save the model object to a file with the name specified by the filename variable.

# In summary, this code saves a machine learning model called model to a file named 'WeatherAUS_model.sav' using the joblib library.
import joblib
# save the model to disk
filename = 'Weather_model.sav'
joblib.dump(model, filename)

['Weather_model.sav']

In [39]:
#Calling new model saved file and load data using joblib.
weatherAUS_loaded=joblib.load("/content/Weather_model.sav")

In [40]:
weatherAUS_loaded.predict(X_test)

array(['No', 'No', 'No', ..., 'No', 'No', 'Yes'], dtype=object)

In [66]:
weatherAUS_loaded.predict(X_train)

array(['No', 'No', 'No', ..., 'No', 'No', 'Yes'], dtype=object)

In [41]:
#df1_inference.head(10)

**Spliting data of inferenceial data**

In [67]:
x_inference=df1_inference.drop(["RainTomorrow"],axis=1)
y_inference=df1_inference["RainTomorrow"]

In [68]:
x_inference.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3267 entries, 14 to 145459
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       3267 non-null   object
 1   MinTemp        2419 non-null   float64
 2   MaxTemp        2328 non-null   float64
 3   Rainfall       1412 non-null   float64
 4   Evaporation    1320 non-null   float64
 5   Sunshine       1248 non-null   float64
 6   WindGustDir    2271 non-null   object
 7   WindGustSpeed  2274 non-null   float64
 8   WindDir9am     2714 non-null   object
 9   WindDir3pm     2817 non-null   object
 10  WindSpeed9am   2848 non-null   float64
 11  WindSpeed3pm   2835 non-null   float64
 12  Humidity9am    2387 non-null   float64
 13  Humidity3pm    2370 non-null   float64
 14  Pressure9am    2216 non-null   float64
 15  Pressure3pm    2220 non-null   float64
 16  Cloud9am       1036 non-null   float64
 17  Cloud3pm       1003 non-null   float64
 18  Temp9am        2404 non-null   float64
 19  Temp3pm        2384 non-null   float64
 20  RainToday      1412 non-null   object
dtypes: float64(16), object(5)
memory usage: 561.5+ KB

In [70]:
#Label encoding on known data
from sklearn import preprocessing
L_Encoder=preprocessing.LabelEncoder()
x_inference["Location"]=L_Encoder.fit_transform(x_inference["Location"])

In [71]:
x_inference["Location"].unique()

array([ 2,  4, 10, 11, 20, 23, 25, 26, 29, 31, 34, 35, 39, 42, 44,  9, 37,
       22,  5,  6, 32, 18, 19, 24, 30, 41, 12,  7,  8, 14, 36,  0, 21, 27,
       45,  1, 43, 28, 33, 40, 15, 17,  3, 13, 16, 38])

In [72]:
x_inference["WindGustDir"]=L_Encoder.fit_transform(x_inference["WindGustDir"])

In [73]:
x_inference["WindDir9am"]=L_Encoder.fit_transform(x_inference["WindDir9am"])

In [74]:
x_inference["WindDir3pm"]=L_Encoder.fit_transform(x_inference["WindDir3pm"])

In [75]:
x_inference["RainToday"]=L_Encoder.fit_transform(x_inference["RainToday"])

**Missing value treatment of inference data**

In [77]:
x_inference=x_inference.fillna(method="ffill",axis=0).fillna(method="bfill",axis=0)

**Scaling on inferencial data**

In [78]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
model=scalar.fit(x_inference)
x_inference1=model.transform(x_inference)
print(x_inference1)

[[-1.83604947 -0.37644162  0.42089382 ...  0.06989278  0.49797963
  -1.41568169]
 [-1.83604947 -1.22707146  1.92729804 ... -0.84064631 -0.86315775
  -1.41568169]
 [-1.83604947  1.63280473  1.92729804 ...  1.68536535  1.97747677
  -1.41568169]
 ...
 [ 1.05504262  0.47418823 -0.42556188 ...  0.17269558 -0.38971866
   0.82133504]
 [ 1.05504262  0.371526   -0.42556188 ...  1.43570141  2.11063152
  -1.41568169]
 [ 1.05504262  0.57685045 -0.42556188 ... -0.06228225  0.11331037
  -1.41568169]]

In [79]:
x_inference2=pd.DataFrame(x_inference1)

In [80]:
x_inference2

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,-1.836049,-0.376442,0.420894,-0.37223,0.232543,-1.852555,1.041038,-0.911285,-0.223650,0.968545,...,1.174040,-0.967107,-1.004002,-1.233469,-1.088440,0.415128,0.564497,0.069893,0.497980,-1.415682
1,-1.836049,-1.227071,1.927298,-0.37223,0.232543,-1.852555,1.041038,-0.911285,-1.758660,0.968545,...,-0.668638,-0.153482,0.080009,-0.096915,0.220424,0.415128,0.564497,-0.840646,-0.863158,-1.415682
2,-1.836049,1.632805,1.927298,-0.37223,0.232543,-1.852555,1.041038,-0.911285,-1.566784,0.563782,...,-0.885424,-0.908991,-0.768348,0.338062,0.249837,0.415128,-1.376370,1.685365,1.977477,-1.415682
3,-1.836049,1.544809,1.912951,-0.37223,0.232543,-1.852555,1.041038,-0.911285,0.160102,-1.864798,...,-1.318995,0.137098,-0.862610,-0.377546,-0.853138,0.415128,1.340844,1.288840,1.918297,-1.415682
4,-1.836049,0.664847,1.281696,-0.37223,0.232543,-1.852555,1.041038,-0.911285,-0.031774,0.361400,...,-0.885424,-0.444062,-1.098264,-0.363514,-0.338417,0.415128,-1.376370,0.583907,1.459653,-1.415682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3262,1.055043,1.691469,2.300312,-0.37223,1.022158,0.301435,-0.286912,0.448463,-0.031774,-1.460034,...,0.740469,-3.001169,-1.993752,-0.826555,-0.956083,1.090874,1.340844,1.964402,2.524891,-1.415682
3263,1.055043,0.195534,-0.368175,-0.37223,1.022158,0.301435,1.041038,0.448463,1.311360,1.373308,...,-1.318995,0.311447,0.409925,-0.237230,-0.294298,1.090874,1.340844,0.025834,-0.182589,-1.415682
3264,1.055043,0.474188,-0.425562,-0.37223,1.022158,0.301435,1.041038,0.448463,0.735731,1.373308,...,-1.318995,0.427679,0.645580,-0.461735,-0.220766,1.090874,1.340844,0.172696,-0.389719,0.821335
3265,1.055043,0.371526,-0.425562,-0.37223,1.022158,0.301435,1.041038,0.448463,-1.566784,0.563782,...,-1.318995,-2.943053,-1.993752,-0.672208,-1.132558,1.090874,1.340844,1.435701,2.110632,-1.415682
3266,1.055043,0.576850,-0.425562,-0.37223,1.022158,0.301435,1.041038,0.448463,-1.374907,-1.460034,...,-0.235067,-0.676527,-0.815479,0.239842,0.264543,1.090874,1.340844,-0.062282,0.113310,-1.415682

In [96]:
#splitting data into train test 
from sklearn.model_selection import train_test_split
model=scalar.fit(X_train,y_train)
X_test1=train_test_split(x_inference,random_state=0)

In [97]:
#use of DecisionTreeClassifier for classification task 
from sklearn.tree import DecisionTreeClassifier 
model = DecisionTreeClassifier() 
predictions_infer_test=model.predict(X_test1)

NotFittedError: ignored

AttributeError: ignored

In [84]:
predictions_infer_test1=pd.DataFrame(predictions_infer_test)
predictions_infer_test1

NameError: ignored

In [57]:
# y_pred_test1 = logreg.predict(X_test1)

# y_pred_test1

In [58]:
# y_pred_test2=pd.DataFrame(y_pred_test1)
# # y_pred_test2
# y_pred_test2

**# probability of getting output as 0 - no rain**

In [59]:
# # probability of getting output as 0 - no rain

# logreg.predict_proba(X_train1)[:,0]

In [60]:
# logreg.predict_proba(X_train1)[:,1]

**proba of test_inference data**

In [61]:
# # probability of getting output as 0 - no rain

# logreg.predict_proba(X_test1)[:,0]

In [62]:
# logreg.predict_proba(X_test1)[:,1]

In [63]:
# from sklearn.metrics import accuracy_score
# print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test1, y_pred_test1)))

In [64]:
# from sklearn.metrics import accuracy_score
# print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_train1, y_pred_train1)))