<a href="https://colab.research.google.com/github/NileshCT/Machine_Learning_Models/blob/main/Decision_Tree_classification_modelling_weatheraus_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importing required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv("/content/drive/MyDrive/weatherAUS.csv.zip")

In [5]:
df.drop(["Date"],axis=1,inplace=True)

In [6]:
numeric_feature=df.describe(include=float).columns
numeric_feature

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm'],
      dtype='object')

In [7]:
#Exploring all numeric_features from dataframe.
categorical_feature=df.describe(include=object).columns
categorical_feature

Index(['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday',
       'RainTomorrow'],
      dtype='object')

In [8]:
#Creating new dataframe by cloning df dataframe.
df1=df.copy()

In [9]:
a=[(i,index) for i,index in enumerate(df["RainTomorrow"]) if pd.isna(index)]
result = pd.DataFrame(a).set_index(0)

**Extracting inferencial data**

In [10]:
t=pd.DataFrame(a).set_index(0)
t.head()

      1
0
14  NaN
283 NaN
435 NaN
437 NaN
443 NaN

In [11]:
t.shape

(3267, 1)

In [12]:
index_nan=t.index.tolist()
index_nan

[14,
 283,
 435,
 437,
 443,
 452,
 455,
 464,
 611,
 983,
 984,
 985,
 986,
 1013,
 1374,
 1529,
 1530,
 1531,
 1685,
 1922,
 2031,
 2032,
 2033,
 2042,
 2913,
 2934,
 2942,
 2943,
 2944,
 3201,
 3211,
 3316,
 3338,
 3339,
 3384,
 3411,
 3412,
 3428,
 3433,
 3438,
 3446,
 3447,
 3452,
 3457,
 3462,
 3471,
 3472,
 3482,
 3517,
 3524,
 3525,
 3526,
 3529,
 3530,
 3532,
 3539,
 3542,
 3549,
 3552,
 3576,
 3584,
 3595,
 3629,
 3634,
 3639,
 3692,
 3760,
 3955,
 4044,
 4050,
 4131,
 4344,
 4345,
 4629,
 4644,
 4656,
 4845,
 4900,
 4911,
 4912,
 4935,
 4938,
 4939,
 5056,
 5079,
 5149,
 5393,
 5458,
 5459,
 5460,
 5461,
 5462,
 5841,
 5842,
 5843,
 5844,
 5845,
 5846,
 5847,
 5848,
 5849,
 5850,
 5851,
 5852,
 5853,
 5854,
 5855,
 5856,
 5857,
 5876,
 6294,
 6968,
 6969,
 6970,
 7446,
 7447,
 8529,
 8530,
 8588,
 8838,
 8839,
 8840,
 8841,
 8842,
 8843,
 8847,
 8848,
 8849,
 8904,
 8905,
 8906,
 9147,
 10238,
 10448,
 10534,
 10816,
 10820,
 10821,
 10822,
 10920,
 10921,
 10922,
 10923,
 10924,
 10925,
 10926,
 11053,
 11133,
 11134,
 11135,
 11136,
 11137,
 11148,
 11149,
 11150,
 11151,
 11159,
 11160,
 11161,
 11162,
 11163,
 11164,
 11165,
 11166,
 11167,
 11168,
 11169,
 11170,
 11171,
 11172,
 11173,
 11174,
 11175,
 11176,
 11177,
 11178,
 11179,
 11180,
 11181,
 11182,
 11183,
 11184,
 11185,
 11186,
 11187,
 11470,
 11491,
 13017,
 13121,
 13147,
 13181,
 13182,
 13183,
 13274,
 13275,
 13365,
 13458,
 13459,
 13460,
 13753,
 13754,
 13755,
 13763,
 13764,
 13765,
 13854,
 13855,
 13862,
 13863,
 13875,
 13876,
 13877,
 13889,
 13896,
 13897,
 13917,
 13918,
 13919,
 13945,
 13946,
 13966,
 13967,
 13973,
 13974,
 13975,
 13980,
 13981,
 14008,
 14009,
 14029,
 14030,
 14031,
 14036,
 14037,
 14039,
 14040,
 14041,
 14078,
 14079,
 14085,
 14086,
 14087,
 14099,
 14100,
 14101,
 14107,
 14127,
 14128,
 14129,
 14134,
 14135,
 14141,
 14142,
 14143,
 14162,
 14163,
 14169,
 14170,
 14171,
 14190,
 14191,
 14211,
 14212,
 14213,
 14218,
 14219,
 14227,
 14239,
 14240,
 14241,
 14246,
 14247,
 14251,
 14252,
 14253,
 14254,
 14255,
 14256,
 14258,
 14259,
 14260,
 14261,
 14262,
 14274,
 14275,
 14276,
 14288,
 14289,
 14290,
 14302,
 14303,
 14304,
 14306,
 14307,
 14308,
 14309,
 14310,
 14311,
 14316,
 14317,
 14324,
 14337,
 14338,
 14345,
 14346,
 14351,
 14352,
 14358,
 14359,
 14360,
 14365,
 14366,
 14372,
 14373,
 14374,
 14400,
 14401,
 14402,
 14472,
 14485,
 14519,
 14520,
 14526,
 14527,
 14528,
 14533,
 14534,
 14547,
 14548,
 14554,
 14555,
 14556,
 14559,
 14561,
 14562,
 14608,
 14609,
 14610,
 14611,
 14612,
 14613,
 14614,
 15766,
 15767,
 15768,
 15769,
 15770,
 15771,
 15908,
 15909,
 15910,
 15911,
 15912,
 16053,
 16054,
 16055,
 16056,
 16057,
 16232,
 16234,
 16239,
 16243,
 16249,
 16250,
 16251,
 16252,
 16253,
 16254,
 16257,
 16361,
 16362,
 16363,
 16364,
 16365,
 16501,
 16583,
 16584,
 16585,
 16586,
 16587,
 16613,
 16614,
 16615,
 16616,
 16617,
 16618,
 16619,
 16931,
 16932,
 16933,
 16934,
 16935,
 16936,
 16937,
 17188,
 17283,
 17284,
 17285,
 17286,
 17318,
 17319,
 17473,
 17507,
 17508,
 17519,
 17625,
 17626,
 17627,
 17628,
 17629,
 17630,
 17631,
 17632,
 17856,
 17913,
 17925,
 17932,
 18029,
 18030,
 18031,
 18032,
 18033,
 18034,
 18035,
 18036,
 18037,
 18275,
 18378,
 18392,
 18393,
 18394,
 18395,
 18410,
 18411,
 18412,
 18413,
 18414,
 18424,
 18425,
 18430,
 18438,
 18459,
 18471,
 18491,
 18496,
 18507,
 18523,
 18528,
 18545,
 18547,
 18608,
 18638,
 18649,
 18664,
 18694,
 18695,
 18698,
 18699,
 18709,
 18710,
 18736,
 18822,
 18823,
 18943,
 18973,
 19030,
 19281,
 19450,
 19676,
 19718,
 19721,
 19722,
 19723,
 19724,
 19846,
 19847,
 19848,
 19849,
 19850,
 19851,
 19852,
 20000,
 20101,
 20329,
 20447,
 20448,
 20449,
 20454,
 20455,
 20456,
 20457,
 20458,
 20459,
 20460,
 20461,
 20462,
 20463,
 20464,
 20469,
 20470,
 20583,
 21936,
 23665,
 23894,
 23895,
 23901,
 23902,
 23915,
 23916,
 23919,
 23929,
 23930,
 23936,
 23937,
 23943,
 23944,
 23945,
 23946,
 23947,
 23948,
 23949,
 23950,
 23951,
 23952,
 23957,
 23958,
 23971,
 23972,
 23978,
 23979,
 23985,
 23986,
 23999,
 24000,
 24006,
 24007,
 24013,
 24014,
 24015,
 24020,
 24021,
 24027,
 24028,
 24034,
 24035,
 24088,
 24137,
 24165,
 24393,
 24485,
 24491,
 24502,
 24518,
 24520,
 24523,
 24533,
 24546,
 24547,
 24550,
 24572,
 24577,
 24580,
 24593,
 24611,
 24620,
 24635,
 24636,
 24667,
 24669,
 24732,
 24733,
 24769,
 24782,
 24787,
 24790,
 24798,
 24799,
 24800,
 24804,
 24805,
 24808,
 24809,
 24872,
 24873,
 24874,
 24875,
 24880,
 24881,
 24882,
 24883,
 24884,
 24889,
 24890,
 24891,
 24892,
 24893,
 24894,
 24975,
 25114,
 25127,
 25297,
 25462,
 25748,
 26013,
 26153,
 26199,
 26372,
 26668,
 26669,
 26670,
 26772,
 26810,
 26815,
 26824,
 26939,
 26972,
 27030,
 27050,
 27051,
 27064,
 27141,
 27511,
 27529,
 27555,
 27577,
 27581,
 27583,
 27587,
 27602,
 27621,
 27622,
 27626,
 27649,
 27668,
 27669,
 27705,
 27719,
 27739,
 27746,
 27755,
 27757,
 27767,
 27773,
 27774,
 27776,
 27784,
 27881,
 27884,
 28290,
 28301,
 28304,
 28306,
 28307,
 28309,
 28311,
 28313,
 28314,
 28315,
 28316,
 28320,
 28324,
 28775,
 28777,
 28810,
 28811,
 28857,
 28858,
 28859,
 28860,
 28861,
 28863,
 28921,
 28977,
 28978,
 29058,
 29109,
 29677,
 29702,
 30066,
 31044,
 31157,
 31191,
 32506,
 32551,
 32578,
 32579,
 35936,
 36425,
 36429,
 36433,
 39122,
 39311,
 39312,
 39318,
 39319,
 39346,
 39347,
 39358,
 39359,
 39360,
 39361,
 39374,
 39375,
 39379,
 39381,
 39382,
 39394,
 39395,
 39402,
 39403,
 39409,
 39410,
 39424,
 39430,
 39431,
 39458,
 39473,
 39479,
 39480,
 39500,
 39501,
 39507,
 39508,
 39690,
 39972,
 40049,
 40084,
 40085,
 40086,
 40091,
 40092,
 40106,
 40114,
 40127,
 40128,
 40178,
 40187,
 40267,
 40268,
 40308,
 40309,
 40362,
 40363,
 40364,
 40376,
 40377,
 40378,
 40380,
 40381,
 40383,
 40384,
 40390,
 40391,
 40392,
 40397,
 40398,
 40404,
 40405,
 40406,
 40411,
 40412,
 40418,
 40419,
 40420,
 40432,
 40433,
 40434,
 40436,
 40439,
 40440,
 40453,
 40454,
 40457,
 40458,
 40459,
 40460,
 40461,
 40462,
 40465,
 40467,
 40468,
 40480,
 40481,
 40482,
 40488,
 40489,
 40490,
 40502,
 40503,
 40504,
 40510,
 40516,
 40517,
 40518,
 40544,
 40545,
 40546,
 40558,
 40559,
 40560,
 40565,
 40566,
 40572,
 40573,
 40574,
 40575,
 40593,
 40594,
 40600,
 40602,
 40607,
 40608,
 40614,
 40615,
 40616,
 40621,
 40622,
 40628,
 40629,
 40630,
 40635,
 40636,
 40642,
 40643,
 40644,
 40652,
 40656,
 40657,
 40658,
 40659,
 40663,
 40664,
 40668,
 40669,
 40670,
 40671,
 40672,
 40678,
 40698,
 40699,
 40700,
 40705,
 40706,
 40712,
 40713,
 40714,
 40719,
 40720,
 40723,
 40726,
 40727,
 40728,
 40740,
 40741,
 40742,
 40747,
 40748,
 40750,
 40751,
 40752,
 40754,
 40755,
 40756,
 40761,
 40762,
 40768,
 40769,
 40770,
 40789,
 40790,
 40796,
 40797,
 40798,
 40803,
 40804,
 40880,
 40881,
 40882,
 40887,
 40888,
 40894,
 40895,
 40896,
 40947,
 40948,
 40949,
 40954,
 40955,
 40957,
 40961,
 40962,
 40963,
 40968,
 40969,
 40983,
 40989,
 40990,
 40991,
 40996,
 40997,
 41003,
 41004,
 41005,
 41010,
 41011,
 41017,
 41018,
 41019,
 41031,
 41032,
 41033,
 41034,
 41038,
 41039,
 41052,
 41053,
 41060,
 41061,
 41066,
 41067,
 41073,
 41074,
 41075,
 41080,
 41081,
 41087,
 41088,
 41095,
 41096,
 41101,
 41102,
 41103,
 41108,
 41109,
 41115,
 41116,
 41117,
 41122,
 41123,
 41129,
 41130,
 41131,
 41164,
 41165,
 41167,
 41168,
 41169,
 41170,
 41171,
 41172,
 41173,
 41185,
 41186,
 41187,
 41220,
 41221,
 41223,
 41227,
 41228,
 41229,
 41234,
 41235,
 41241,
 41248,
 41249,
 41298,
 41309,
 41310,
 41311,
 41312,
 41313,
 41314,
 41315,
 41316,
 41317,
 41318,
 41319,
 41320,
 41321,
 41333,
 41338,
 41339,
 41340,
 41341,
 41353,
 41354,
 41355,
 41360,
 41361,
 41367,
 41368,
 41369,
 41374,
 41375,
 41388,
 41389,
 41395,
 41396,
 41397,
 41402,
 ...]

In [13]:
df1_inference=df1.iloc[index_nan]
df1_inference

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
14,Albury,8.4,24.6,0.0,NaN,NaN,NaN,NaN,S,WNW,...,57.0,32.0,1009.7,1008.7,NaN,NaN,15.9,23.5,No,NaN
283,Albury,2.6,NaN,0.0,NaN,NaN,NaN,NaN,E,WNW,...,71.0,55.0,1017.8,1017.6,NaN,6.0,9.7,14.3,No,NaN
435,Albury,22.1,35.1,0.0,NaN,NaN,NaN,NaN,ENE,SW,...,58.0,37.0,1020.9,1017.8,NaN,1.0,26.9,33.5,No,NaN
437,Albury,21.5,35.0,0.0,NaN,NaN,NaN,NaN,SSE,E,...,76.0,35.0,1015.8,1010.3,NaN,8.0,24.2,33.1,No,NaN
443,Albury,15.5,30.6,0.0,NaN,NaN,NaN,NaN,SE,SSW,...,66.0,30.0,1015.9,1013.8,NaN,NaN,19.4,30.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144955,Uluru,22.5,37.7,0.0,NaN,NaN,SE,50.0,SE,ESE,...,22.0,11.0,1012.6,1009.6,NaN,NaN,28.8,37.2,No,NaN
145091,Uluru,12.3,19.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,79.0,62.0,1016.8,1014.1,8.0,8.0,15.6,18.9,No,NaN
145092,Uluru,14.2,18.7,NaN,NaN,NaN,NaN,NaN,W,NaN,...,81.0,67.0,1015.2,1014.6,8.0,8.0,16.6,17.5,NaN,NaN
145335,Uluru,13.5,NaN,0.0,NaN,NaN,NaN,NaN,ENE,SW,...,23.0,11.0,1013.7,1008.4,NaN,NaN,25.2,34.4,No,NaN
145459,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [14]:
#Creating list of all non null values in the target variable for spliting in train and test data.
a=[]
for i in range(df1.shape[0]):
  if i not in index_nan:
    a.append(i)

**Separating known data**

In [15]:
df_Known_data=df.iloc[a]
df_Known_data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,E,...,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,No
145455,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No

**Missing values tratment for known data**

In [16]:
df_Known_data=df_Known_data.fillna(method="bfill",axis=0).fillna(method="ffill",axis=0)
df_Known_data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,12.0,12.3,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,2.0,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,12.0,12.3,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,7.0,2.0,17.2,24.3,No,No
2,Albury,12.9,25.7,0.0,12.0,12.3,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,7.0,2.0,21.0,23.2,No,No
3,Albury,9.2,28.0,0.0,12.0,12.3,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,7.0,8.0,18.1,26.5,No,No
4,Albury,17.5,32.3,1.0,12.0,12.3,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,Uluru,3.5,21.8,0.0,6.4,10.7,E,31.0,ESE,E,...,59.0,27.0,1024.7,1021.2,3.0,2.0,9.4,20.9,No,No
145455,Uluru,2.8,23.4,0.0,6.4,10.7,E,31.0,SE,ENE,...,51.0,24.0,1024.6,1020.3,3.0,2.0,10.1,22.4,No,No
145456,Uluru,3.6,25.3,0.0,6.4,10.7,NNW,22.0,SE,N,...,56.0,21.0,1023.5,1019.1,3.0,2.0,10.9,24.5,No,No
145457,Uluru,5.4,26.9,0.0,6.4,10.7,N,37.0,SE,WNW,...,53.0,24.0,1021.0,1016.8,3.0,2.0,12.5,26.1,No,No
145458,Uluru,7.8,27.0,0.0,6.4,10.7,SE,28.0,SSE,N,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No

**known data splitting for further scaling. i am not appling the scaling on the target feature**

In [17]:
x_known=df_Known_data.drop(["RainTomorrow"],axis=1)
y_known=df_Known_data["RainTomorrow"]

**lebal encoding on x_known data**

In [18]:
#Label encoding on known data
from sklearn import preprocessing
L_Encoder=preprocessing.LabelEncoder()
x_known["Location"]=L_Encoder.fit_transform(x_known["Location"])

In [19]:
x_known["Location"].unique()

array([ 2,  4, 10, 11, 21, 24, 26, 27, 30, 34, 37, 38, 42, 45, 47,  9, 40,
       23,  5,  6, 35, 19, 18, 20, 25, 33, 44, 12,  7,  8, 14, 39,  0, 22,
       28, 48,  1, 46, 29, 32, 31, 36, 43, 15, 17,  3, 13, 16, 41])

In [20]:
x_known["WindGustDir"]=L_Encoder.fit_transform(x_known["WindGustDir"])

In [21]:
x_known["WindDir9am"]=L_Encoder.fit_transform(x_known["WindDir9am"])

In [22]:
x_known["WindDir3pm"]=L_Encoder.fit_transform(x_known["WindDir3pm"])

In [23]:
x_known["RainToday"]=L_Encoder.fit_transform(x_known["RainToday"])

In [24]:
x_known.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2,13.4,22.9,0.6,12.0,12.3,13,44.0,13,14,...,24.0,71.0,22.0,1007.7,1007.1,8.0,2.0,16.9,21.8,0
1,2,7.4,25.1,0.0,12.0,12.3,14,44.0,6,15,...,22.0,44.0,25.0,1010.6,1007.8,7.0,2.0,17.2,24.3,0
2,2,12.9,25.7,0.0,12.0,12.3,15,46.0,13,15,...,26.0,38.0,30.0,1007.6,1008.7,7.0,2.0,21.0,23.2,0
3,2,9.2,28.0,0.0,12.0,12.3,4,24.0,9,0,...,9.0,45.0,16.0,1017.6,1012.8,7.0,8.0,18.1,26.5,0
4,2,17.5,32.3,1.0,12.0,12.3,13,41.0,1,7,...,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,0

**scaling on x_known data**

In [25]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
model=scalar.fit(x_known)
x_known1=model.transform(x_known)
print(x_known1)

[[-1.5270045   0.18911965 -0.0462377  ... -0.00962269  0.00708313
  -0.54029965]
 [-1.5270045  -0.74794986  0.26286199 ...  0.03643231  0.36734324
  -0.54029965]
 [-1.5270045   0.11103052  0.3471619  ...  0.61979554  0.20882879
  -0.54029965]
 ...
 [ 1.21224943 -1.34142722  0.29096196 ... -0.93072252  0.39616405
  -0.54029965]
 [ 1.21224943 -1.06030637  0.51576173 ... -0.6850959   0.62673052
  -0.54029965]
 [ 1.21224943 -0.68547856  0.52981172 ... -0.28595264  0.61232012
  -0.54029965]]

In [26]:
x_known2=pd.DataFrame(x_known1)

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x_known2,y_known,random_state=0,test_size=0.20)

In [74]:
from sklearn.tree import DecisionTreeClassifier 
model = DecisionTreeClassifier() 
decision_tree=model.fit (X_train, y_train) 
predictions_train = model.predict(X_train)

In [76]:
#Measure the performance of the decision tree model
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
print(classification_report(y_train, predictions_train))
print(confusion_matrix(y_train, predictions_train))

              precision    recall  f1-score   support

          No       1.00      1.00      1.00     88249
         Yes       1.00      1.00      1.00     25505

    accuracy                           1.00    113754
   macro avg       1.00      1.00      1.00    113754
weighted avg       1.00      1.00      1.00    113754

[[88249     0]
 [    4 25501]]

In [77]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_train,predictions_train)
score

0.9999648364013574

In [78]:
predictions_test = model.predict(X_test)

In [79]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,predictions_test)
score

0.7861739161011287

**predict_proba method ok known data**

In [80]:
# probability of getting output as 0 - no rain
model.predict_proba(X_train)[:,0]

array([1., 1., 1., ..., 1., 1., 0.])

In [81]:
# probability of getting output as 0 - rain
model.predict_proba(X_train)[:,1]

array([0., 0., 0., ..., 0., 0., 1.])

In [38]:
df1_inference.head(10)

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
14,Albury,8.4,24.6,0.0,NaN,NaN,NaN,NaN,S,WNW,...,57.0,32.0,1009.7,1008.7,NaN,NaN,15.9,23.5,No,NaN
283,Albury,2.6,NaN,0.0,NaN,NaN,NaN,NaN,E,WNW,...,71.0,55.0,1017.8,1017.6,NaN,6.0,9.7,14.3,No,NaN
435,Albury,22.1,35.1,0.0,NaN,NaN,NaN,NaN,ENE,SW,...,58.0,37.0,1020.9,1017.8,NaN,1.0,26.9,33.5,No,NaN
437,Albury,21.5,35.0,0.0,NaN,NaN,NaN,NaN,SSE,E,...,76.0,35.0,1015.8,1010.3,NaN,8.0,24.2,33.1,No,NaN
443,Albury,15.5,30.6,0.0,NaN,NaN,NaN,NaN,SE,SSW,...,66.0,30.0,1015.9,1013.8,NaN,NaN,19.4,30.0,No,NaN
452,Albury,17.2,NaN,0.0,NaN,NaN,NaN,NaN,NE,E,...,54.0,28.0,1024.6,1020.7,NaN,NaN,20.6,29.2,No,NaN
455,Albury,14.4,NaN,0.0,NaN,NaN,NaN,NaN,SE,SSE,...,50.0,35.0,1018.5,1016.2,6.0,NaN,17.1,25.5,No,NaN
464,Albury,8.8,NaN,0.0,NaN,NaN,NaN,NaN,SSE,SSE,...,69.0,35.0,1023.7,1023.0,NaN,1.0,12.5,21.8,No,NaN
611,Albury,1.2,9.6,0.0,NaN,NaN,NaN,NaN,NaN,N,...,94.0,71.0,1019.8,1017.0,8.0,8.0,5.5,9.2,No,NaN
983,Albury,4.0,NaN,0.2,NaN,NaN,NaN,NaN,W,WSW,...,79.0,47.0,1015.9,1013.8,NaN,NaN,9.3,15.6,No,NaN

**Spliting data of inferenceial data**

In [39]:
x_inference=df1_inference.drop(["RainTomorrow"],axis=1)
y_inference=df1_inference["RainTomorrow"]

In [40]:
x_inference.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3267 entries, 14 to 145459
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       3267 non-null   object
 1   MinTemp        2419 non-null   float64
 2   MaxTemp        2328 non-null   float64
 3   Rainfall       1412 non-null   float64
 4   Evaporation    1320 non-null   float64
 5   Sunshine       1248 non-null   float64
 6   WindGustDir    2271 non-null   object
 7   WindGustSpeed  2274 non-null   float64
 8   WindDir9am     2714 non-null   object
 9   WindDir3pm     2817 non-null   object
 10  WindSpeed9am   2848 non-null   float64
 11  WindSpeed3pm   2835 non-null   float64
 12  Humidity9am    2387 non-null   float64
 13  Humidity3pm    2370 non-null   float64
 14  Pressure9am    2216 non-null   float64
 15  Pressure3pm    2220 non-null   float64
 16  Cloud9am       1036 non-null   float64
 17  Cloud3pm       1003 non-null   float64
 18  Temp9am        2404 non-null   float64
 19  Temp3pm        2384 non-null   float64
 20  RainToday      1412 non-null   object
dtypes: float64(16), object(5)
memory usage: 561.5+ KB

In [41]:
#Label encoding on known data
from sklearn import preprocessing
L_Encoder=preprocessing.LabelEncoder()
x_inference["Location"]=L_Encoder.fit_transform(x_inference["Location"])

In [42]:
x_inference["Location"].unique()

array([ 2,  4, 10, 11, 20, 23, 25, 26, 29, 31, 34, 35, 39, 42, 44,  9, 37,
       22,  5,  6, 32, 18, 19, 24, 30, 41, 12,  7,  8, 14, 36,  0, 21, 27,
       45,  1, 43, 28, 33, 40, 15, 17,  3, 13, 16, 38])

In [43]:
x_inference["WindGustDir"]=L_Encoder.fit_transform(x_inference["WindGustDir"])

In [44]:
x_inference["WindDir9am"]=L_Encoder.fit_transform(x_inference["WindDir9am"])

In [45]:
x_inference["WindDir3pm"]=L_Encoder.fit_transform(x_inference["WindDir3pm"])

In [46]:
x_inference["RainToday"]=L_Encoder.fit_transform(x_inference["RainToday"])

**Missing value treatment of inference data**

In [48]:
x_inference=x_inference.fillna(method="bfill",axis=0).fillna(method="ffill",axis=0)

**Scaling on inferencial data**

In [49]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
model=scalar.fit(x_inference)
x_inference1=model.transform(x_inference)
print(x_inference1)

[[-1.83604947 -0.37644162  0.42089382 ...  0.06989278  0.49797963
  -1.41568169]
 [-1.83604947 -1.22707146  1.92729804 ... -0.84064631 -0.86315775
  -1.41568169]
 [-1.83604947  1.63280473  1.92729804 ...  1.68536535  1.97747677
  -1.41568169]
 ...
 [ 1.05504262  0.47418823 -0.42556188 ...  0.17269558 -0.38971866
   0.82133504]
 [ 1.05504262  0.371526   -0.42556188 ...  1.43570141  2.11063152
  -1.41568169]
 [ 1.05504262  0.57685045 -0.42556188 ... -0.06228225  0.11331037
  -1.41568169]]

In [51]:
x_inference2=pd.DataFrame(x_inference1)

In [52]:
x_inference2

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,-1.836049,-0.376442,0.420894,-0.37223,0.232543,-1.852555,1.041038,-0.911285,-0.223650,0.968545,...,1.174040,-0.967107,-1.004002,-1.233469,-1.088440,0.415128,0.564497,0.069893,0.497980,-1.415682
1,-1.836049,-1.227071,1.927298,-0.37223,0.232543,-1.852555,1.041038,-0.911285,-1.758660,0.968545,...,-0.668638,-0.153482,0.080009,-0.096915,0.220424,0.415128,0.564497,-0.840646,-0.863158,-1.415682
2,-1.836049,1.632805,1.927298,-0.37223,0.232543,-1.852555,1.041038,-0.911285,-1.566784,0.563782,...,-0.885424,-0.908991,-0.768348,0.338062,0.249837,0.415128,-1.376370,1.685365,1.977477,-1.415682
3,-1.836049,1.544809,1.912951,-0.37223,0.232543,-1.852555,1.041038,-0.911285,0.160102,-1.864798,...,-1.318995,0.137098,-0.862610,-0.377546,-0.853138,0.415128,1.340844,1.288840,1.918297,-1.415682
4,-1.836049,0.664847,1.281696,-0.37223,0.232543,-1.852555,1.041038,-0.911285,-0.031774,0.361400,...,-0.885424,-0.444062,-1.098264,-0.363514,-0.338417,0.415128,-1.376370,0.583907,1.459653,-1.415682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3262,1.055043,1.691469,2.300312,-0.37223,1.022158,0.301435,-0.286912,0.448463,-0.031774,-1.460034,...,0.740469,-3.001169,-1.993752,-0.826555,-0.956083,1.090874,1.340844,1.964402,2.524891,-1.415682
3263,1.055043,0.195534,-0.368175,-0.37223,1.022158,0.301435,1.041038,0.448463,1.311360,1.373308,...,-1.318995,0.311447,0.409925,-0.237230,-0.294298,1.090874,1.340844,0.025834,-0.182589,-1.415682
3264,1.055043,0.474188,-0.425562,-0.37223,1.022158,0.301435,1.041038,0.448463,0.735731,1.373308,...,-1.318995,0.427679,0.645580,-0.461735,-0.220766,1.090874,1.340844,0.172696,-0.389719,0.821335
3265,1.055043,0.371526,-0.425562,-0.37223,1.022158,0.301435,1.041038,0.448463,-1.566784,0.563782,...,-1.318995,-2.943053,-1.993752,-0.672208,-1.132558,1.090874,1.340844,1.435701,2.110632,-1.415682
3266,1.055043,0.576850,-0.425562,-0.37223,1.022158,0.301435,1.041038,0.448463,-1.374907,-1.460034,...,-0.235067,-0.676527,-0.815479,0.239842,0.264543,1.090874,1.340844,-0.062282,0.113310,-1.415682

In [53]:
x_inference2=pd.DataFrame(x_inference1)

In [91]:
predictions_infer_test = model.predict(X_test1)

In [92]:
predictions_infer_test1=pd.DataFrame(predictions_infer_test)
predictions_infer_test1

       0
0     No
1     No
2    Yes
3     No
4     No
..   ...
812   No
813  Yes
814   No
815  Yes
816  Yes

[817 rows x 1 columns]

In [58]:
y_pred_test1 = logreg.predict(X_test1)

y_pred_test1

array(['No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No',
       'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Yes',
       'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No',
       'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No',
       'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'No', 'Yes',
       'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No',
       'Yes', 'Yes', 'No', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No',
       'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'Yes',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes',
       'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No',
       'No', 'No', 'No', 'No'], dtype=object)

In [59]:
y_pred_test2=pd.DataFrame(y_pred_test1)
# y_pred_test2
y_pred_test2

      0
0    No
1    No
2    No
3    No
4    No
..   ..
649  No
650  No
651  No
652  No
653  No

[654 rows x 1 columns]

**# probability of getting output as 0 - no rain**

In [60]:
# probability of getting output as 0 - no rain

logreg.predict_proba(X_train1)[:,0]

array([0.79494582, 0.93464019, 0.92323421, ..., 0.96324642, 0.73623497,
       0.96740047])

In [61]:
logreg.predict_proba(X_train1)[:,1]

array([0.20505418, 0.06535981, 0.07676579, ..., 0.03675358, 0.26376503,
       0.03259953])

**proba of test_inference data**

In [62]:
# probability of getting output as 0 - no rain

logreg.predict_proba(X_test1)[:,0]

array([0.75095553, 0.96271312, 0.72514482, 0.85898183, 0.91063476,
       0.87508725, 0.94915738, 0.1478089 , 0.63481983, 0.98282731,
       0.70497032, 0.82073035, 0.85995755, 0.78684356, 0.52816342,
       0.85526834, 0.94891674, 0.92399821, 0.59823759, 0.65260828,
       0.97682557, 0.9674622 , 0.96811143, 0.96359102, 0.0929378 ,
       0.86699976, 0.81121728, 0.09269823, 0.87223906, 0.94882629,
       0.98566536, 0.9524861 , 0.94499283, 0.87069018, 0.39853768,
       0.56146503, 0.62175049, 0.44690945, 0.56594656, 0.43075234,
       0.91984616, 0.84018599, 0.95750888, 0.45879221, 0.94278717,
       0.97669926, 0.92572633, 0.13296697, 0.80851313, 0.9531593 ,
       0.49092472, 0.92663132, 0.49092472, 0.68410983, 0.75419837,
       0.9675661 , 0.56852866, 0.95633797, 0.98680386, 0.61982581,
       0.71755614, 0.94425803, 0.85578919, 0.944436  , 0.75141882,
       0.91968092, 0.96781185, 0.85606053, 0.92563538, 0.98605156,
       0.46199181, 0.37989781, 0.95998342, 0.40286626, 0.9846176 ,
       0.90313921, 0.85970353, 0.97860851, 0.86356929, 0.93658025,
       0.90873408, 0.94538724, 0.27022631, 0.97748207, 0.83052724,
       0.5199409 , 0.5846237 , 0.11430631, 0.6272263 , 0.95642736,
       0.46053272, 0.31996232, 0.49070677, 0.97524367, 0.93734937,
       0.96027361, 0.91122752, 0.89075089, 0.89518058, 0.98783499,
       0.94865885, 0.78283813, 0.9461014 , 0.92913786, 0.78223151,
       0.87737835, 0.94680645, 0.79343255, 0.62164791, 0.94757953,
       0.94330085, 0.95316453, 0.76279932, 0.88229843, 0.88945668,
       0.96465685, 0.96401383, 0.92870868, 0.79379667, 0.23211177,
       0.96135067, 0.98857326, 0.90536665, 0.91809098, 0.97649388,
       0.4367869 , 0.48493417, 0.59327331, 0.97759849, 0.89186418,
       0.39239001, 0.55984271, 0.62277335, 0.63452898, 0.83932846,
       0.77857666, 0.78029788, 0.90114274, 0.94792403, 0.8307574 ,
       0.96922065, 0.96318337, 0.93244543, 0.78323526, 0.91389777,
       0.97974113, 0.87554125, 0.72393875, 0.53030398, 0.92868868,
       0.23170886, 0.92254913, 0.76796329, 0.93310736, 0.82471748,
       0.91226526, 0.86656438, 0.85020905, 0.95053067, 0.84268661,
       0.931033  , 0.94511541, 0.92364477, 0.96752184, 0.93497094,
       0.72122597, 0.96015017, 0.37116486, 0.82389934, 0.58773146,
       0.92847768, 0.94614287, 0.90853346, 0.98440986, 0.93834236,
       0.634574  , 0.98079726, 0.94636202, 0.9543664 , 0.69933356,
       0.89192114, 0.87625801, 0.94585943, 0.9502365 , 0.96377793,
       0.99391721, 0.76814446, 0.98258663, 0.83981739, 0.87122453,
       0.57149622, 0.39474461, 0.90180501, 0.64127218, 0.7684967 ,
       0.930344  , 0.87317597, 0.99034577, 0.99054728, 0.89285539,
       0.9732989 , 0.97217501, 0.9423289 , 0.87339586, 0.90507518,
       0.52510283, 0.94515176, 0.91785835, 0.9590321 , 0.97313318,
       0.60632137, 0.32428133, 0.87065075, 0.93734335, 0.78347609,
       0.91475766, 0.33671468, 0.98382811, 0.85341372, 0.79526512,
       0.13112039, 0.87998479, 0.79030315, 0.90469711, 0.9385113 ,
       0.91383475, 0.96859075, 0.87163725, 0.90210318, 0.87050594,
       0.49603103, 0.86580742, 0.97963381, 0.88543236, 0.90980711,
       0.09479237, 0.98442785, 0.84297602, 0.44119225, 0.8837237 ,
       0.94798256, 0.50575995, 0.98848308, 0.95412302, 0.76857354,
       0.96214199, 0.97767178, 0.89900946, 0.85387003, 0.92269556,
       0.11136871, 0.98770183, 0.93588753, 0.44896905, 0.83879738,
       0.71621967, 0.74993681, 0.66930502, 0.94507335, 0.31676118,
       0.84157115, 0.14086507, 0.82057165, 0.28284032, 0.98306427,
       0.91413153, 0.95558303, 0.9054553 , 0.06228134, 0.94371586,
       0.96602309, 0.90686475, 0.93574997, 0.95208194, 0.54774143,
       0.22666594, 0.32507348, 0.9275132 , 0.94808873, 0.19962533,
       0.61571199, 0.92057731, 0.9646322 , 0.88254808, 0.72080199,
       0.88010334, 0.9067496 , 0.97086911, 0.47765542, 0.91616448,
       0.85867678, 0.63465642, 0.72764522, 0.94592611, 0.21913661,
       0.94877834, 0.66161337, 0.72403799, 0.6899769 , 0.67425792,
       0.95858705, 0.40342807, 0.49089663, 0.89729026, 0.80497171,
       0.96018795, 0.93000504, 0.39431519, 0.96783895, 0.22630343,
       0.95204374, 0.90673238, 0.70530864, 0.76462607, 0.94895866,
       0.88893282, 0.93750386, 0.60679218, 0.9498835 , 0.92660567,
       0.96775954, 0.90452176, 0.947796  , 0.84603013, 0.99015885,
       0.43510857, 0.96719089, 0.84743771, 0.97693103, 0.93257397,
       0.96102302, 0.95805195, 0.93651297, 0.95253797, 0.97356519,
       0.90174446, 0.6565367 , 0.74882015, 0.93154308, 0.94520703,
       0.72737813, 0.76879065, 0.93983128, 0.79757922, 0.5738711 ,
       0.82381681, 0.68766075, 0.95459854, 0.89597995, 0.87161053,
       0.77244927, 0.77133973, 0.89900646, 0.91503571, 0.97580733,
       0.45990406, 0.87431927, 0.84503728, 0.97228502, 0.91097176,
       0.96299247, 0.89729026, 0.82600605, 0.94836025, 0.53506849,
       0.76820482, 0.931033  , 0.48964623, 0.97222808, 0.21440036,
       0.41351705, 0.88764772, 0.92186697, 0.97731963, 0.87411112,
       0.98652247, 0.9545727 , 0.90166578, 0.94440335, 0.89579642,
       0.65061507, 0.98311567, 0.53386849, 0.78424074, 0.98116126,
       0.1052078 , 0.96881969, 0.80386836, 0.58480287, 0.97352547,
       0.97338619, 0.80021405, 0.62663506, 0.08260338, 0.94847723,
       0.92105146, 0.71715596, 0.74882015, 0.89408918, 0.64475224,
       0.5234076 , 0.77358128, 0.87178484, 0.95873279, 0.9545492 ,
       0.45612446, 0.84852239, 0.20200828, 0.97398559, 0.94924055,
       0.71562724, 0.88571381, 0.68221857, 0.49871422, 0.86790997,
       0.97459344, 0.93950339, 0.9172265 , 0.82053975, 0.47048474,
       0.97094415, 0.7433686 , 0.84235255, 0.91129437, 0.58334431,
       0.78134901, 0.86043305, 0.93750009, 0.68845794, 0.98681743,
       0.80888656, 0.66014519, 0.51654721, 0.75682612, 0.21575578,
       0.78702121, 0.95688113, 0.22687909, 0.95166891, 0.90140021,
       0.88770744, 0.89992049, 0.79331869, 0.61216318, 0.49620194,
       0.93044222, 0.9663034 , 0.95417828, 0.88675385, 0.89729026,
       0.43442465, 0.93566221, 0.89193477, 0.33846561, 0.49418584,
       0.91410236, 0.89818415, 0.96278118, 0.98095796, 0.66146848,
       0.5998601 , 0.81099191, 0.98715051, 0.96359216, 0.96804409,
       0.95219413, 0.79962403, 0.81796335, 0.82697281, 0.41800099,
       0.97918844, 0.85597707, 0.89809497, 0.89828952, 0.98577673,
       0.73829082, 0.90600231, 0.97724692, 0.5187303 , 0.8580702 ,
       0.96102302, 0.96645336, 0.9407349 , 0.3312141 , 0.90010831,
       0.41718423, 0.99027879, 0.94537366, 0.97481636, 0.52270804,
       0.8486556 , 0.94435774, 0.52576758, 0.99010967, 0.95486563,
       0.97752899, 0.9401785 , 0.78056567, 0.65311087, 0.28704768,
       0.69009741, 0.95067622, 0.89696251, 0.89494775, 0.99157251,
       0.9227979 , 0.40498177, 0.69568832, 0.97882873, 0.88750283,
       0.4130779 , 0.9671437 , 0.83998204, 0.96894673, 0.88883359,
       0.87918041, 0.76256433, 0.9000252 , 0.48230767, 0.13842439,
       0.90723773, 0.93506923, 0.35210093, 0.9040664 , 0.73942363,
       0.90756249, 0.84932441, 0.5660703 , 0.77576756, 0.53731281,
       0.8824403 , 0.79737668, 0.15932369, 0.82322461, 0.84816328,
       0.94146015, 0.82663078, 0.98667428, 0.88923545, 0.87718233,
       0.95550905, 0.77543512, 0.9035472 , 0.77793483, 0.82669725,
       0.93001731, 0.90645626, 0.96507602, 0.90785014, 0.8301266 ,
       0.90560897, 0.98621913, 0.95433894, 0.80008934, 0.8588701 ,
       0.74331301, 0.80117989, 0.98020298, 0.78975998, 0.91986709,
       0.80067019, 0.96871502, 0.70493425, 0.93835694, 0.86434733,
       0.83814071, 0.91743303, 0.88576137, 0.41359737, 0.77679209,
       0.97510543, 0.79467712, 0.50544414, 0.94403373, 0.92627918,
       0.94869901, 0.76927882, 0.95193123, 0.83623626, 0.76038103,
       0.5182253 , 0.91242433, 0.99298218, 0.13088015, 0.94566899,
       0.64776006, 0.91710391, 0.96032225, 0.16979411, 0.54078959,
       0.95913537, 0.92551054, 0.98485376, 0.68390368, 0.88158844,
       0.86087435, 0.90753537, 0.90604291, 0.78943394, 0.51915531,
       0.59706517, 0.98050204, 0.94423515, 0.49092472, 0.9407335 ,
       0.97487988, 0.97287472, 0.98157209, 0.97488862, 0.59893899,
       0.94252319, 0.22332718, 0.75178456, 0.09301408, 0.93864205,
       0.34200944, 0.98398796, 0.79791224, 0.93156771, 0.92242239,
       0.89126213, 0.91707071, 0.98666427, 0.70434697, 0.72319905,
       0.93389135, 0.93805412, 0.7463142 , 0.79722711, 0.89729026,
       0.93554047, 0.69933356, 0.90291904, 0.93890813, 0.92260963,
       0.88766489, 0.96259119, 0.93497664, 0.75924081, 0.9669465 ,
       0.83298262, 0.48233861, 0.63342754, 0.96970114, 0.57173003,
       0.97873801, 0.89729026, 0.06228134, 0.8596176 , 0.81351296,
       0.86552852, 0.85224798, 0.56845308, 0.50971493])

In [63]:
logreg.predict_proba(X_test1)[:,1]

array([0.24904447, 0.03728688, 0.27485518, 0.14101817, 0.08936524,
       0.12491275, 0.05084262, 0.8521911 , 0.36518017, 0.01717269,
       0.29502968, 0.17926965, 0.14004245, 0.21315644, 0.47183658,
       0.14473166, 0.05108326, 0.07600179, 0.40176241, 0.34739172,
       0.02317443, 0.0325378 , 0.03188857, 0.03640898, 0.9070622 ,
       0.13300024, 0.18878272, 0.90730177, 0.12776094, 0.05117371,
       0.01433464, 0.0475139 , 0.05500717, 0.12930982, 0.60146232,
       0.43853497, 0.37824951, 0.55309055, 0.43405344, 0.56924766,
       0.08015384, 0.15981401, 0.04249112, 0.54120779, 0.05721283,
       0.02330074, 0.07427367, 0.86703303, 0.19148687, 0.0468407 ,
       0.50907528, 0.07336868, 0.50907528, 0.31589017, 0.24580163,
       0.0324339 , 0.43147134, 0.04366203, 0.01319614, 0.38017419,
       0.28244386, 0.05574197, 0.14421081, 0.055564  , 0.24858118,
       0.08031908, 0.03218815, 0.14393947, 0.07436462, 0.01394844,
       0.53800819, 0.62010219, 0.04001658, 0.59713374, 0.0153824 ,
       0.09686079, 0.14029647, 0.02139149, 0.13643071, 0.06341975,
       0.09126592, 0.05461276, 0.72977369, 0.02251793, 0.16947276,
       0.4800591 , 0.4153763 , 0.88569369, 0.3727737 , 0.04357264,
       0.53946728, 0.68003768, 0.50929323, 0.02475633, 0.06265063,
       0.03972639, 0.08877248, 0.10924911, 0.10481942, 0.01216501,
       0.05134115, 0.21716187, 0.0538986 , 0.07086214, 0.21776849,
       0.12262165, 0.05319355, 0.20656745, 0.37835209, 0.05242047,
       0.05669915, 0.04683547, 0.23720068, 0.11770157, 0.11054332,
       0.03534315, 0.03598617, 0.07129132, 0.20620333, 0.76788823,
       0.03864933, 0.01142674, 0.09463335, 0.08190902, 0.02350612,
       0.5632131 , 0.51506583, 0.40672669, 0.02240151, 0.10813582,
       0.60760999, 0.44015729, 0.37722665, 0.36547102, 0.16067154,
       0.22142334, 0.21970212, 0.09885726, 0.05207597, 0.1692426 ,
       0.03077935, 0.03681663, 0.06755457, 0.21676474, 0.08610223,
       0.02025887, 0.12445875, 0.27606125, 0.46969602, 0.07131132,
       0.76829114, 0.07745087, 0.23203671, 0.06689264, 0.17528252,
       0.08773474, 0.13343562, 0.14979095, 0.04946933, 0.15731339,
       0.068967  , 0.05488459, 0.07635523, 0.03247816, 0.06502906,
       0.27877403, 0.03984983, 0.62883514, 0.17610066, 0.41226854,
       0.07152232, 0.05385713, 0.09146654, 0.01559014, 0.06165764,
       0.365426  , 0.01920274, 0.05363798, 0.0456336 , 0.30066644,
       0.10807886, 0.12374199, 0.05414057, 0.0497635 , 0.03622207,
       0.00608279, 0.23185554, 0.01741337, 0.16018261, 0.12877547,
       0.42850378, 0.60525539, 0.09819499, 0.35872782, 0.2315033 ,
       0.069656  , 0.12682403, 0.00965423, 0.00945272, 0.10714461,
       0.0267011 , 0.02782499, 0.0576711 , 0.12660414, 0.09492482,
       0.47489717, 0.05484824, 0.08214165, 0.0409679 , 0.02686682,
       0.39367863, 0.67571867, 0.12934925, 0.06265665, 0.21652391,
       0.08524234, 0.66328532, 0.01617189, 0.14658628, 0.20473488,
       0.86887961, 0.12001521, 0.20969685, 0.09530289, 0.0614887 ,
       0.08616525, 0.03140925, 0.12836275, 0.09789682, 0.12949406,
       0.50396897, 0.13419258, 0.02036619, 0.11456764, 0.09019289,
       0.90520763, 0.01557215, 0.15702398, 0.55880775, 0.1162763 ,
       0.05201744, 0.49424005, 0.01151692, 0.04587698, 0.23142646,
       0.03785801, 0.02232822, 0.10099054, 0.14612997, 0.07730444,
       0.88863129, 0.01229817, 0.06411247, 0.55103095, 0.16120262,
       0.28378033, 0.25006319, 0.33069498, 0.05492665, 0.68323882,
       0.15842885, 0.85913493, 0.17942835, 0.71715968, 0.01693573,
       0.08586847, 0.04441697, 0.0945447 , 0.93771866, 0.05628414,
       0.03397691, 0.09313525, 0.06425003, 0.04791806, 0.45225857,
       0.77333406, 0.67492652, 0.0724868 , 0.05191127, 0.80037467,
       0.38428801, 0.07942269, 0.0353678 , 0.11745192, 0.27919801,
       0.11989666, 0.0932504 , 0.02913089, 0.52234458, 0.08383552,
       0.14132322, 0.36534358, 0.27235478, 0.05407389, 0.78086339,
       0.05122166, 0.33838663, 0.27596201, 0.3100231 , 0.32574208,
       0.04141295, 0.59657193, 0.50910337, 0.10270974, 0.19502829,
       0.03981205, 0.06999496, 0.60568481, 0.03216105, 0.77369657,
       0.04795626, 0.09326762, 0.29469136, 0.23537393, 0.05104134,
       0.11106718, 0.06249614, 0.39320782, 0.0501165 , 0.07339433,
       0.03224046, 0.09547824, 0.052204  , 0.15396987, 0.00984115,
       0.56489143, 0.03280911, 0.15256229, 0.02306897, 0.06742603,
       0.03897698, 0.04194805, 0.06348703, 0.04746203, 0.02643481,
       0.09825554, 0.3434633 , 0.25117985, 0.06845692, 0.05479297,
       0.27262187, 0.23120935, 0.06016872, 0.20242078, 0.4261289 ,
       0.17618319, 0.31233925, 0.04540146, 0.10402005, 0.12838947,
       0.22755073, 0.22866027, 0.10099354, 0.08496429, 0.02419267,
       0.54009594, 0.12568073, 0.15496272, 0.02771498, 0.08902824,
       0.03700753, 0.10270974, 0.17399395, 0.05163975, 0.46493151,
       0.23179518, 0.068967  , 0.51035377, 0.02777192, 0.78559964,
       0.58648295, 0.11235228, 0.07813303, 0.02268037, 0.12588888,
       0.01347753, 0.0454273 , 0.09833422, 0.05559665, 0.10420358,
       0.34938493, 0.01688433, 0.46613151, 0.21575926, 0.01883874,
       0.8947922 , 0.03118031, 0.19613164, 0.41519713, 0.02647453,
       0.02661381, 0.19978595, 0.37336494, 0.91739662, 0.05152277,
       0.07894854, 0.28284404, 0.25117985, 0.10591082, 0.35524776,
       0.4765924 , 0.22641872, 0.12821516, 0.04126721, 0.0454508 ,
       0.54387554, 0.15147761, 0.79799172, 0.02601441, 0.05075945,
       0.28437276, 0.11428619, 0.31778143, 0.50128578, 0.13209003,
       0.02540656, 0.06049661, 0.0827735 , 0.17946025, 0.52951526,
       0.02905585, 0.2566314 , 0.15764745, 0.08870563, 0.41665569,
       0.21865099, 0.13956695, 0.06249991, 0.31154206, 0.01318257,
       0.19111344, 0.33985481, 0.48345279, 0.24317388, 0.78424422,
       0.21297879, 0.04311887, 0.77312091, 0.04833109, 0.09859979,
       0.11229256, 0.10007951, 0.20668131, 0.38783682, 0.50379806,
       0.06955778, 0.0336966 , 0.04582172, 0.11324615, 0.10270974,
       0.56557535, 0.06433779, 0.10806523, 0.66153439, 0.50581416,
       0.08589764, 0.10181585, 0.03721882, 0.01904204, 0.33853152,
       0.4001399 , 0.18900809, 0.01284949, 0.03640784, 0.03195591,
       0.04780587, 0.20037597, 0.18203665, 0.17302719, 0.58199901,
       0.02081156, 0.14402293, 0.10190503, 0.10171048, 0.01422327,
       0.26170918, 0.09399769, 0.02275308, 0.4812697 , 0.1419298 ,
       0.03897698, 0.03354664, 0.0592651 , 0.6687859 , 0.09989169,
       0.58281577, 0.00972121, 0.05462634, 0.02518364, 0.47729196,
       0.1513444 , 0.05564226, 0.47423242, 0.00989033, 0.04513437,
       0.02247101, 0.0598215 , 0.21943433, 0.34688913, 0.71295232,
       0.30990259, 0.04932378, 0.10303749, 0.10505225, 0.00842749,
       0.0772021 , 0.59501823, 0.30431168, 0.02117127, 0.11249717,
       0.5869221 , 0.0328563 , 0.16001796, 0.03105327, 0.11116641,
       0.12081959, 0.23743567, 0.0999748 , 0.51769233, 0.86157561,
       0.09276227, 0.06493077, 0.64789907, 0.0959336 , 0.26057637,
       0.09243751, 0.15067559, 0.4339297 , 0.22423244, 0.46268719,
       0.1175597 , 0.20262332, 0.84067631, 0.17677539, 0.15183672,
       0.05853985, 0.17336922, 0.01332572, 0.11076455, 0.12281767,
       0.04449095, 0.22456488, 0.0964528 , 0.22206517, 0.17330275,
       0.06998269, 0.09354374, 0.03492398, 0.09214986, 0.1698734 ,
       0.09439103, 0.01378087, 0.04566106, 0.19991066, 0.1411299 ,
       0.25668699, 0.19882011, 0.01979702, 0.21024002, 0.08013291,
       0.19932981, 0.03128498, 0.29506575, 0.06164306, 0.13565267,
       0.16185929, 0.08256697, 0.11423863, 0.58640263, 0.22320791,
       0.02489457, 0.20532288, 0.49455586, 0.05596627, 0.07372082,
       0.05130099, 0.23072118, 0.04806877, 0.16376374, 0.23961897,
       0.4817747 , 0.08757567, 0.00701782, 0.86911985, 0.05433101,
       0.35223994, 0.08289609, 0.03967775, 0.83020589, 0.45921041,
       0.04086463, 0.07448946, 0.01514624, 0.31609632, 0.11841156,
       0.13912565, 0.09246463, 0.09395709, 0.21056606, 0.48084469,
       0.40293483, 0.01949796, 0.05576485, 0.50907528, 0.0592665 ,
       0.02512012, 0.02712528, 0.01842791, 0.02511138, 0.40106101,
       0.05747681, 0.77667282, 0.24821544, 0.90698592, 0.06135795,
       0.65799056, 0.01601204, 0.20208776, 0.06843229, 0.07757761,
       0.10873787, 0.08292929, 0.01333573, 0.29565303, 0.27680095,
       0.06610865, 0.06194588, 0.2536858 , 0.20277289, 0.10270974,
       0.06445953, 0.30066644, 0.09708096, 0.06109187, 0.07739037,
       0.11233511, 0.03740881, 0.06502336, 0.24075919, 0.0330535 ,
       0.16701738, 0.51766139, 0.36657246, 0.03029886, 0.42826997,
       0.02126199, 0.10270974, 0.93771866, 0.1403824 , 0.18648704,
       0.13447148, 0.14775202, 0.43154692, 0.49028507])

In [64]:
# from sklearn.metrics import accuracy_score
# print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test1, y_pred_test1)))

In [65]:
# from sklearn.metrics import accuracy_score
# print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_train1, y_pred_train1)))