<a href="https://colab.research.google.com/github/NileshCT/Machine_Learning_Models/blob/main/Kfold_cross_validation_(LinearRegression)_Bike_shearing_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
#Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [58]:
#import dataset
df=pd.read_csv("/content/drive/MyDrive/bike_rentals.csv")

In [59]:
#Top five records.
df.head()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1.0,0.0,1.0,0.0,6.0,0.0,2,0.344167,0.363625,0.805833,0.160446,985
1,2,1.0,0.0,1.0,0.0,0.0,0.0,2,0.363478,0.353739,0.696087,0.248539,801
2,3,1.0,0.0,1.0,0.0,1.0,1.0,1,0.196364,0.189405,0.437273,0.248309,1349
3,4,1.0,0.0,1.0,0.0,2.0,1.0,1,0.200000,0.212122,0.590435,0.160296,1562
4,5,1.0,0.0,1.0,0.0,3.0,1.0,1,0.226957,0.229270,0.436957,0.186900,1600

In [60]:
#Last five records.
df.tail()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
726,727,1.0,1.0,12.0,0.0,4.0,1.0,2,0.254167,0.226642,0.652917,0.350133,2114
727,728,1.0,1.0,12.0,0.0,5.0,1.0,2,0.253333,0.255046,0.590000,0.155471,3095
728,729,1.0,1.0,12.0,0.0,6.0,0.0,2,0.253333,0.242400,0.752917,0.124383,1341
729,730,1.0,1.0,12.0,0.0,0.0,0.0,1,0.255833,0.231700,0.483333,0.350754,1796
730,731,1.0,1.0,12.0,0.0,1.0,0.0,2,0.215833,0.223487,0.577500,0.154846,2729

In [61]:
#Shape of the dataframe.
df.shape

(731, 13)

In [62]:
#Datatype of features from dataframe.
df.dtypes

instant         int64
season        float64
yr            float64
mnth          float64
holiday       float64
weekday       float64
workingday    float64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
cnt             int64
dtype: object

In [63]:
#Split the target variable from dataframe.
X=df.drop(["cnt"],axis=1)
y=df["cnt"]

In [12]:
X.columns

Index(['instant', 'season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday',
       'weathersit', 'temp', 'atemp', 'hum', 'windspeed'],
      dtype='object')

In [16]:
y.shape

(731,)

In [18]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [64]:
#Spliting of the data into training and testing 
X_train,X_test,y_train,y_test=train_test_split(X, y, shuffle=True,test_size=0.20, random_state=42)

In [65]:
#model firing and model evaluation.
lr=LinearRegression()
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)

In [66]:
#r2_score.
score=r2_score(y_test,y_pred)
score

0.8305404308921016

In [67]:
y_test_MSE=mean_squared_error(y_test, y_pred)
print(y_test_MSE)
y_test_RMSE=np.sqrt(y_test_MSE)
y_test_RMSE

679512.9247967465

824.3257394966788

**Using cross validation**

In [68]:
#Here shuffling is done and train and test split is happened internally. and we use cv=5 it means the kfolds are there. and shuffling is done using shuffle function.
from sklearn.utils import shuffle
X_shuffle, y_shuffle = shuffle(X, y, random_state=42)

In [69]:
from sklearn.model_selection import cross_val_score
mse= cross_val_score(lr,X_shuffle, y_shuffle,cv=5,n_jobs=1,scoring="neg_mean_squared_error")

In [70]:
mse

array([-679512.92479675, -913090.44897802, -707848.4895697 ,
       -870018.39827655, -744993.45345033])

In [71]:
rmse=np.sqrt(-mse)
rmse

array([824.3257395 , 955.55766387, 841.33732211, 932.74776777,
       863.13003276])

In [72]:
print("RMSE values: ", np.round(rmse, 2))
print("RMSE average: ", np.mean(rmse))

RMSE values:  [824.33 955.56 841.34 932.75 863.13]
RMSE average:  883.4197051998126

Conclusion
**Using k-fold cross-validation for evaluating a modelâ€™s performance**it help to give good and avg result from all folds done on the data. **bold text**

**Using k-fold cross-validation for hyperparameter tuning**

Grid search is a popular hyperparameter optimization technique. It is looking for an optimal combination of hyperparameter values in a way that it can further improve the performance of a model.

Using k-fold cross-validation in combination with grid search is a very useful strategy to improve the performance of a machine learning model by tuning the model hyperparameters.

In [78]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=100,criterion="squared_error",bootstrap=True,oob_score=True,n_jobs=2,random_state=42)

**oob_score=**True: Whether to use out-of-bag samples to estimate the generalization accuracy.
**n_jobs=2:**The number of jobs to run in parallel for both fit and predict.
**random_state=42:** Controls both the randomness of the bootstrapping of the samples used when building trees and the sampling of the features to consider when looking for the best split at each node.

In [79]:
hyperparameter_space = {'max_depth':[None,4,6,8,10,12,15,20], 
                        'min_samples_leaf':[1,2,4,6,8,10,20,30],
                        'max_features':['auto','sqrt','log2']}

The values in the lists associated with each key represent the different values that the hyperparameters can take. For example, max_depth can take any value from the list [None,4,6,8,10,12,15,20].

This hyperparameter space can be used in hyperparameter tuning to find the best combination of hyperparameters for a machine learning model.

In [80]:
from sklearn.model_selection import GridSearchCV
gs=GridSearchCV(rf,param_grid=hyperparameter_space,scoring="neg_mean_squared_error",cv=5,n_jobs=2,return_train_score=True)

In [ ]:
# gs.fit(X_train,y_train)